<div class="layout">
  <div class="text-box">
  <textarea [(ngModel)]="text" (keyup.enter)="add()" maxlength="100" placeholder="Digite aqui" class="input"></textarea>
</div>

<div *ngFor="let post of array">
  <div [style.background]="post.cor" [style.transform]="post.posicao" class="text-box cursive">
    <div *ngIf="!post.editavel" class="buttons-wrap">
      <button *ngIf="!post.concluido" (click)="concluir(post.id)"><i class="fa-solid fa-check"></i></button>
      <button *ngIf="!post.concluido" (click)="editar(post.id)"><i class="fa-solid fa-pen"></i></button>
      <button (click)="delete(post.id)"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <button (click)="mudaTexto(post.id)" *ngIf="post.editavel" class="concluir">concluir</button>
    <textarea (input)="novoTexto($event.target)" class="text" [ngClass]="{'concluido': post.concluido}" value="{{post.texto}}" [disabled]="!post.editavel"></textarea>
  </div>
</div>
</div>
